.header{
    padding: 20px 0 0;
}
#content {
    .wrap {
        width: 780px;
        .returnIndex {
            text-align: right;
            line-height: 30px;
            padding-right: 10px;
            a{
                color: #999;
            }
            a:hover{
                color: #ff0000;
                text-decoration: underline;
            }
        }
        .registerArea{
            border: 1px solid #efefef;
            border-radius: 2px;
            box-shadow: 0 0 8px #e5e5e5;
            padding-bottom: 80px;
            margin-top: 10px;
            background: url(../img/register_bg.jpg) no-repeat center bottom;
            .title{
                font-size: 16px;
                color: #888;
                background: #f8f8f8;
                padding: 4px 10px;
                border-bottom: 1px solid #efefef;
                margin-bottom: 55px;
                text-shadow: 1px 1px #fff;
                font-weight: bold;
            }
            table{
                margin-top: 10px;
                margin-left: 80px;
                display: inline-block;
                tr{
                    line-height: 30px;
                }
                th{
                    text-align: right;
                    width: 75px;
                    font-size: 14px;
                    color: #666;
                    font-weight: normal;
                }
                td{
                    font-size: 12px;
                    color: #777;
                    padding: 7px 0;
                    .x-input{
                        width: 220px;
                        color: #000;
                        border: 1px solid #ccc;
                        padding: 3px 5px;
                        height: 22px;
                        line-height: 22px;
                    }
                    .yanzheng_input{
                        width: 65px;
                        border: 1px solid #ddd;
                        height: 22px;
                        line-height: 22px;
                    }
                    #canvas{
                        vertical-align: middle;
                    }
                    .change{
                        font-size: 12px;
                        color: #666;
                    }
                    .change:hover{
                        text-decoration: underline;
                    }
                    .protocol{
                        color: #3366dd;
                        text-decoration: underline;
                    }
                    .registerBtn{
                        width: 89px;
                        height: 38px;
                        color: #fff;
                        font-weight: bold;
                        background: url(../img/scn.png) no-repeat 0 -198px;
                    }
                }
            }
            .toLoginArea{
                float: right;
                width: 272px;
                height: 300px;
                text-align: center;
                border-left: 1px dashed #ccc;
                .goLoginBtn{
                    display: inline-block;
                    width: 91px;
                    height: 32px;
                    line-height: 30px;
                    margin-top: 10px;
                    text-align: center;
                    color: #c66;
                    font-size: 14px;
                    font-weight: bold;
                    background: url(../img/loginbg.png) no-repeat;
                }
                a:hover{
                    color: #cc0000;
                }
                img{
                    margin-top: 40px;
                }
            }
        }
    }
}
